<div class="row" style="font-size:18px; text-align:center">
    <button class="btn btn-primary btn-circle">1</button>
    <button class="btn btn-default btn-circle">2</button>
    <button class="btn btn-default btn-circle">3</button>
</div>
<hr />
<div class="row">
    <div id="firstStage">
        <div class="row" style="margin:0">
            <div class="col-xs-3" style="padding-top:5px; text-align:right;">
                <strong>Контрагент</strong>
            </div>
            <div class="col-xs-9">
                <input class="input-sm" style="max-width:none; width:100%; margin:0" autofocus/>
            </div>
        </div>
       
        <div class="row" style="margin:0">
            <div class="col-xs-3" style="padding-top:5px; text-align:right;">
                <strong>Товар</strong>
            </div>
            <div class="col-xs-9">
                <input class="input-sm" style="max-width:none; width:100%; margin:0" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="pull-left">
                <button class="btn btn-default" style="margin-left:35px" disabled>Назад</button>
            </div>
            <div class="pull-right">
                <button class="btn btn-default" style="margin-right:35px">Дальше</button>
            </div>
        </div>
    </div>
    <div id="secondStage">

    </div>
    <div id="thirdStage">

    </div>
</div>



