@* Представление список подкатегорий *@
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> ПОДКАТЕГОРИИ
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Операции
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#" class="modalCont" data-ajaxpath="/subcategory/insert/@ViewBag.categoryId">Новая подкатегория</a>
                    </li>
                    <li>
                        <a href="#">Показать архивные записи</a>
                    </li>

                    <li class="divider"></li>
                    <li>
                        <a href="#">Печать</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pull-right">
            <span class="fa fa-search fa-fw"></span>
            <input id="subcatSearch" class="input-sm" type="text" placeholder="Поиск..." style="height:22px" autofocus />
        </div>
        <div class="pull-right">
            <img id="preLoader" src="~/Content/img/preLoader.gif" hidden />
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div id="subtree" style="overflow-y:scroll; height:350px"></div>

    </div>
    <div class="panel-footer">
        <div id="tsfoot"><button class="btn btn-link" id="backWrap"><i class="fa fa-backward fa-fw"></i>  Вернуться</button></div>
    </div>
    
    <!-- /.panel-body -->
</div>

<script>
    $(document).ready(function () {
        GetSubCategories('@ViewBag.categoryId', '');
        $('.modalCont').off().click(function () {
            var path = $(this).data('ajaxpath');
            var title = $(this).text();
            $.get(path, function (data) {
                $('#mt').text(title);
                $('#mb').empty().html(data);
                $('#categoryMessages').modal({
                    keyboard: false,
                    backdrop: false
                }, 'show');
            })
        })

        $('#subcatSearch').keyup(function () {
            if ($(this).val().length > 2 || $(this).val() == '') {
                GetSubCategories('@ViewBag.categoryId', $(this).val());
            }
        });

        $('#backWrap').click(function () {
            SubdirectoryToCategory();
        })
    })
</script>
